.main-reg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--gradient-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  margin: 50px 20px;
  padding: 1em 2em;
  filter: drop-shadow(5px 5px 4px #2e3138);
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.reg-form input,
select {
  border: none;
  border-radius: 5px;
  height: 20px;
  color: var(--white-color);
  transition: 0.3s ease;
  background-color: rgba(239, 239, 239, 0.3);
}

.reg-form option {
  background-color: rgb(93, 93, 93);
}

.reg-form label {
  text-align: left;
  font-weight: 800;
  color: var(--white-color);
  margin: 5px 0 5px;
}

.reg-form button {
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--green-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 10px;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: normal;
  transition: 0.3s ease;
  width: 50%;
  margin: 5px auto;
}

.reg-form button:hover {
  background-color: #397a53;
  cursor: pointer;
}
