.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 200px;
  height: 300px;
  background: var(--gradient-color);
  gap: 0.5em;
  margin: 30px;
  padding: 30px;
  border: 1px solid var(--border-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  color: var(--white-color);
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  transition: 0.3s ease;
  flex-grow: 1;
}

.card h1 {
  margin-bottom: 20px;
}

.link {
  margin-top: 1em;
}
