.planBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  height: 360px;
  width: 200px;
  margin: 20px;
  padding: 1em 1.5em;
  filter: drop-shadow(5px 5px 4px #2e3138);
}

.planBody h1 {
  color: white;
  font-size: 25px;
}

.planForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.activeInput {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  padding: 4px 2px;
  font-size: 15px;
  transition: 0.3s ease;
  background-color: var(--green-color);
}

.inactiveInput {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  padding: 4px 2px;
  font-size: 15px;
  transition: 0.3s ease;
  background-color: grey;
}

.planForm label {
  text-align: left;
  margin-top: 10px;
  font-weight: 800;
  color: var(--white-color);
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

.cancel {
  background-color: rgb(124, 0, 0) !important;
}

.cancel:hover {
  background-color: rgb(87, 20, 8) !important;
}

.disabled button {
  background-color: grey;
}

.disabled button:hover {
  background-color: grey;
  cursor: not-allowed !important;
}

.disabled:hover {
  cursor: not-allowed !important;
}

.disabled input:hover {
  cursor: not-allowed !important;
}

.disabled label:hover {
  cursor: not-allowed !important;
}

.disabled form:hover {
  cursor: not-allowed !important;
}

@media screen and (max-width: 700px) {
  .planBody {
    margin-top: 0;
  }
  .planBody {
    width: 300px;
  }
}
