.planBody {
  display: flex;
  flex-direction: column;
  background: var(--gradient-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  height: 350px;
  width: 200px;
  margin: 50px 20px;
  padding: 1em 2em;
  filter: drop-shadow(5px 5px 4px #2e3138);
}

.planBody h1 {
  color: white;
}

.planForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.activeInput {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  transition: 0.3s ease;
  background-color: var(--green-color);
}

.inactiveInput {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  transition: 0.3s ease;
  background-color: grey;
}

.planForm label {
  text-align: left;
  margin-top: 10px;
  font-weight: 800;
  color: var(--white-color);
}

.planForm button {
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--green-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 10px;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: normal;
  transition: 0.3s ease;
  width: 50%;
}

.planForm button:hover {
  background-color: #397a53;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 1em;
}

.cancel {
  background-color: rgb(124, 0, 0) !important;
}

.cancel:hover {
  background-color: rgb(87, 20, 8) !important;
}

@media screen and (max-width: 700px) {
  .planBody {
    margin-top: 0;
  }
  .planBody {
    width: 300px;
  }
}
