.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer h1 {
  margin-top: 50px;
  color: white;
}

.regContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--gradient-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  margin: 50px 20px;
  padding: 1em 2em;
  filter: drop-shadow(5px 5px 4px #2e3138);
}

.regForm {
  display: flex;
  flex-direction: column;
}

.regForm input,
select {
  border: none;
  border-radius: 5px;
  height: 20px;
  color: var(--white-color);
  transition: 0.3s ease;
  background-color: rgba(239, 239, 239, 0.3);
}

.regForm option {
  background-color: rgb(93, 93, 93);
}

.regForm label {
  text-align: left;
  font-weight: 800;
  color: var(--white-color);
  margin: 25px 0 5px;
}

.regForm button {
  margin: 20px auto;
  text-decoration: none;
  background-color: var(--green-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 10px;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: normal;
  transition: 0.3s ease;
  width: 50%;
}

.regForm button:hover {
  background-color: #397a53;
  cursor: pointer;
}
