.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  color: white;
  margin-top: 1.5em;
}

.yearlyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5em;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  border-radius: 10px;
  align-items: center;
  background-color: grey;
  width: 170px;
  height: 40px;
}

.year button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s ease;
  color: white;
}

.year button:hover {
  cursor: pointer;
}

.year p {
  color: white;
  font-size: 20px;
}

.empty {
  color: white;
  font-size: 20px;
  margin-top: 10em;
}
