.container-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-logged h3 {
  margin-top: 2em;
  color: var(--white-color);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttons .link-button {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--green-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  height: 150px;
  width: 150px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: normal;
  transition: 0.3s ease;
}

.buttons .link-button:hover {
  background-color: #397a53;
  cursor: pointer;
}
