@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@1,100&display=swap");

:root {
  --gradient-color: linear-gradient(
    45deg,
    rgba(46, 49, 56, 1) 0%,
    rgba(88, 88, 88, 1) 100%
  );
  --green-color: #459766;
  --white-color: #d2d2d2;
  --border-color: #5b5b5b;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 200px;
  height: 250px;
  background: var(--gradient-color);
  gap: 0.3em;
  margin: 30px;
  padding: 30px;
  border: 1px solid var(--border-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  color: var(--white-color);
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  transition: 0.3s ease;
}

.card:hover {
  filter: drop-shadow(5px 5px 4px #1e1e22);
}

.link-button {
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--green-color);
  filter: drop-shadow(5px 5px 4px #2e3138);
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 10px;
  color: var(--white-color);
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 20px;
  transition: 0.3s ease;
}

.link-button:hover {
  background-color: #397a53;
  cursor: pointer;
}

h1,
h3 {
  padding: 5px;
  margin: 0;
  text-align: center;
}

input {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  transition: 0.3s ease;
}

input::placeholder {
  color: var(--white-color);
  font-family: "Lato", sans-serif;
}
